@font-face {
  font-family: "PressStart2P";
  src: url("PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PressStart2P", sans-serif;
}
